@()

<!-- navigation bar ### WARNING: This file is copied from an identical file in the master module. The duplication of code should be eliminated ... TBD -->

<div id="navbar">
  <ul>
    <li><a href="/concepts#getting_started">Getting Started</a> |</li>
    <li><a href="/concepts">API Concepts</a> |</li>
    <li><a href="/reference">API Reference</a> |</li>
    <li><a href="/schema">API Schema</a> |</li>
    <li><a href="/examples">Examples</a> |</li>
    <li><a href="/termsofuse">Terms Of Use</a> |</li>
    <li><a href="https://www.met.no/en/free-meteorological-data/Download-services">Other APIs</a></li>
  </ul>
</div>
