@()(implicit flash: Flash, request: RequestHeader)
@import play.api.Play.current
@import helper._
@import util._

<!DOCTYPE html>
<html>
<head>
<title>data.met.no</title>
<link type="image/x-icon" rel="icon" href="/images/met_favicon.png">
<link type="image/x-icon" rel="shortcut icon" href="/images/met_favicon.ico">
<link href="/stylesheets/style_default_2013.css" rel="stylesheet" type="text/css">
<link href="/stylesheets/style_layout_2013.css" rel="stylesheet" type="text/css">
<link href="/stylesheets/style_menu_2013.css" rel="stylesheet" type="text/css">
<link href="/stylesheets/paginator.css" rel="stylesheet" type="text/css">
<link href="/stylesheets/dictionary.css" rel="stylesheet" type="text/css">
</head>

 <div id="wrapper" class="frontpage">
  <div id="header" class="clearfix">
   <div id="logo">
    <a href="http://met.no"><img src="/images/logo_2013_no.png" alt="met.no"></img></a>
   </div>
   @util.navbar()
  </div>
  <div id="top-line">
   <div class="top-menu">
    <ul>
     <li><a href="https://data.met.no">data.met.no</a></li>
    </ul>
   </div>
  </div>
  <div id="main-content" class="frontpage clearfix">

  <h1>Client credentials created</h1>

  <p>New client credentials have been successfully created for user
  @flash.get("user"). Your API Client ID is:</p>

  <pre>
  <code id='key'>@flash.get("id")</code>
  </pre>

  <p>Your API Client Secret is:</p>

  <pre>
  <code id='secret'>@flash.get("secret")</code>
  </pre>

  <p>Save these credentials to a secure place.</p>

  <p>You can use these credentials to <a href="/index.html#authentication">authenticate</a>
  and <a href="/index.html#authorization">authorize</a> data retrieval on
  <a href="/">data.met.no</a>. For normal data retrieval, you only require the
  API Client ID; the API Client secret is only required for access to non-public
  data, and then only if you have permission to access such data.</p>

</div>
</body>
</html>
