@()(implicit flash: Flash, request: RequestHeader)
@import helper._

<!DOCTYPE html>
<html>
<head>
<title>Client credentials created</title>
</head>

<body>

  <h1>Access key created</h1>

  <p>A new credentials key has been successfully created for user @flash.get("user"). The key is</p>

  <code id='key'>@flash.get("key")</code>

  <p>You can use the token to access a protected data.met.no web sevice
  by oauth2 Client Credentials Flow:</p>

  <h2>Get access token</h2>

  <p>First send a https POST to data.met.no/auth/requestAccessToken, with body:</p>

  <code>
    grant_type=client_credentials&client_id=@flash.get("key")&client_secret=
  </code>

  <p>Using <em>curl</em>, you can get an access token using this command:</p>

  <code>curl -d'grant_type=client_credentials&client_id=@flash.get("key")&client_secret=' data.met.no/auth/requestAccessToken</code>

  <h2>Use it</h2>

 <p>The previous HTTP POST post should return a json document, with an
 <em>access_token</em> key containing a temporary token, which will give you
 access for a short period of time. When requesting data from data.met.no,
 add the following header to your request:</p>

 <code>
   Authorization: Bearer TOKEN
 </code>

  <p>...where TOKEN is the token provided to you in the step before.</p>

  <p>Once the token has expired, you may simply request a new one to keep accessing data from the server.</p>

</body>
</html>
