@(tokenRequestForm: Form[String])(implicit messages: Messages)
@import play.api.Play.current
@import helper._

<!DOCTYPE html>
<html>
<head>
<title>data.met.no</title>
<link type="image/x-icon" rel="icon" href="/images/met_favicon.png">
<link type="image/x-icon" rel="shortcut icon" href="/images/met_favicon.ico">
<link href="/stylesheets/style_default_2013.css" rel="stylesheet" type="text/css">
<link href="/stylesheets/style_layout_2013.css" rel="stylesheet" type="text/css">
<link href="/stylesheets/style_menu_2013.css" rel="stylesheet" type="text/css">
<link href="/stylesheets/paginator.css" rel="stylesheet" type="text/css">
<link href="/stylesheets/dictionary.css" rel="stylesheet" type="text/css">
</head>

 <div id="wrapper" class="frontpage">
  <div id="header" class="clearfix">
   <div id="logo">
    <a href="http://met.no"><img src="/images/logo_2013_no.png" alt="met.no"></img></a>
   </div>
   <div id="help-links">
    <ul>
     <li><a href="/index.html#getting_started">Getting Started</a> |</li>
     <li><a href="/docs">API Documentation</a> |</li>
     <li><a href="/reference">API Reference</a> |</li>
     <li><a href="/schema">API Schema</a> |</li>
     <li><a href="http://met.no/English/Data_Policy_and_Data_Services/">Licensing and Data Policy</a> |</li>
    </ul>
   </div>
  </div>
  <div id="top-line">
   <div class="top-menu">
    <ul>
     <li><a href="https://data.met.no">data.met.no</a></li>
    </ul>
   </div>
  </div>
  <div id="main-content" class="frontpage clearfix">

  <h1>Request New API Client ID</h1>

  <p>To gain access to the <a href="/">data.met.no</a> web services, 
  register with your email address to generate a new API Client ID.</p>

  <div id="swagger-form">
    <p>
    @form(action = controllers.routes.AuthorizationController.newCredentialsRequest, 'class -> "new_clientid") {
      @inputText(tokenRequestForm("email"), 'id -> "user_email")
      <input type="submit" value="Submit" />
  }
  </p>
  </div>

  <p>We require an API client ID in order to provide all users of this
  free service with as stable and fast performance as the backend allows.
  The email given here will be used to contact you to inform about or 
  resolve API maintenance issues.</p>

  <h2>Submit your email address</h2>
  
  <ul>
  <li>Enter your email address into the field above.</li>
  <li>Click on the Submit button.</li>
  </ul>

  <h2>Save your API client ID</h2>

  <ul>
  <li>You will be taken to a page with an API Client ID and a client secret.
  Save both of these codes in a secure location.</li> 
  </ul>
  
  <h2>Start using <a href="/">data.met.no</a></h2>

  <ul>
    <li>Go to the <a href="/docs">API documentation</a> and copy your API
    Client ID into the Client ID form. Experiment with the API resources
    to mine data from <a href="/">data.met.no</a>.
    </li>
  </ul>

 </div>

</body>
</html>
